{% extends 'base.html.twig' %}

{% block Title %}Agence McFly{% endblock %}   
{% block body %}

<div class="jumbotron txt-center m-t-5">
    <div class="container">
        <h1>L'Agence du Web<h1>
    </div>
</div>

<div class= "container">
    <h2> les derniers biens </h2>
    <div class="row flex">
     {% for property in propertie %}     </div>

       <p> <a href="{{ path( 'property.show', {id: property.id , slug: property.slug} )}}"> {{ property.title }}</a></p>
       <div>
    <p class ="card-text"> {{ property.city}} ({{property.postalCode}})</b>     </div>

     <div class="text-primary">{{ property.price}}</div>
    {% endfor %}

{% endblock %}
